<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.waterleveltracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomeWaterLevelTheme">
        <activity android:name=".RoomLightsActivity"></activity>
        <activity
            android:name=".FanActivity"
            android:exported="true"
            android:label="Fans Control "
            android:theme="@style/Theme.CustomeWaterLevelTheme" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:label="Sign Up"
            android:theme="@style/Theme.CustomeWaterLevelTheme" />
        <activity
            android:name=".SignInActivity"
            android:exported="true"
            android:label="Sing In "
            android:theme="@style/Theme.CustomeWaterLevelTheme" />
        <activity
            android:name=".MotorStateActivity"
            android:label="Motor Status"
            android:theme="@style/Theme.CustomeWaterLevelTheme" />
        <activity
            android:name=".WaterLevelActivity"
            android:label="Water Level"
            android:theme="@style/Theme.CustomeWaterLevelTheme" />
        <activity
            android:name=".DashbordActivity"
            android:label="Controls Things"
            android:theme="@style/Theme.CustomeWaterLevelTheme" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.CustomeWaterLevelTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.CustomeWaterLevelTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>